
.formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    padding: 5em;
    gap: 2em;
    border: 2px solid red;
  }


.formBoxContainer{
    width: 20em;
    height: 40em;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    border: 1px solid rgba(255, 255, 255, 0.37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    animation: delay 2s;  
  }

  .formBoxContainer label{
    font-size: 1.5em;
    font-weight: 600;
    color: #fff;
    background: transparent;
  }

    .formBoxContainer input{
        width: 80%;
        height: 2em;
        padding: 1em;
        border: none;
        border-radius: 10px;
        background: #fff;
    }      
      

    .formBoxContainer button{
        width: 80%;
        height: 2em;
        padding: 1em;
        border: none;
        border-radius: 10px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
  

    .formBoxContainer button:hover{
        background: #0b0a19;
        transition: all 0.1s ease-in-out;
        color: #f8f5f5;
      }
      
      @keyframes delay{
        0%{
          opacity: 0;
          transform: translateY(-100px);
        }
        100%{
          opacity: 1;
          transform: translateY(0);
        }
      }